@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

.App {
	text-align: center;
	margin: 0 auto;
	max-width: 50em;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	color: #555;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
}

@media (max-width: 600px) {
	footer {
		position: auto;
		bottom: auto;
		text-align: center;
	}
}
